<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522239304389-agggps2u5rahvu6v4p3mehfjp0nld74t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522239304389-agggps2u5rahvu6v4p3mehfjp0nld74t</string>
	<key>API_KEY</key>
	<string>AIzaSyCMc8V3Nbj1wDI-hBKYSMLf5rf6Ld3l6es</string>
	<key>GCM_SENDER_ID</key>
	<string>522239304389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChidiNweze.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-10fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-10fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522239304389:ios:4283ed37104d014e5946ac</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-10fcd.firebaseio.com</string>
</dict>
</plist>